@import 'components/chameleonui-utils/stylus/body-em.styl';
@import 'components/chameleonui-utils/stylus/body-line-height.styl';
@import 'components/chameleonui-utils/stylus/clearfix.styl';
@import 'components/chameleonui-utils/stylus/font-size.styl';
@import 'components/chameleonui-utils/stylus/gradients.styl';
@import 'components/chameleonui-utils/stylus/height.styl';
@import 'components/chameleonui-utils/stylus/margin.styl';
@import 'components/chameleonui-utils/stylus/padding.styl';
@import 'components/chameleonui-utils/stylus/percentage.styl';
@import 'components/chameleonui-utils/stylus/px-rem.styl';
@import 'components/chameleonui-utils/stylus/roundto.styl';
@import 'components/chameleonui-utils/stylus/selectorize.styl';
@import 'components/chameleonui-utils/stylus/string-repeat.styl';
@import 'components/chameleonui-utils/stylus/text-overflow.styl';
@import 'components/chameleonui-utils/stylus/vendors.styl';
@import 'components/chameleonui-utils/stylus/visibility.styl';
@import 'components/chameleonui-utils/stylus/width.styl';
@import 'stylus/float.styl';
@import 'stylus/hr.styl';
@import 'stylus/html.styl';
@import 'stylus/image.styl';
@import 'stylus/link.styl';
@import 'stylus/visibility.styl';
@import 'stylus/core.styl';

// We can't use body-em() here due to stylus limits :(
grid-lap-start = 40em;
grid-desk-start = 55em;

grid-hand-class = "hand";
grid-lap-class = "lap";
grid-desk-class = "desk";

grid-hand-up-media = "only screen";
grid-lap-up-media = "only screen and (min-width: " + grid-lap-start + ")";
grid-desk-up-media = "only screen and (min-width: " + grid-desk-start + ")";

core();
