@import 'components/chameleonui-utils/body-em.styl';
@import 'components/chameleonui-utils/body-line-height.styl';
@import 'components/chameleonui-utils/clearfix.styl';
@import 'components/chameleonui-utils/font-size.styl';
@import 'components/chameleonui-utils/gradients.styl';
@import 'components/chameleonui-utils/height.styl';
@import 'components/chameleonui-utils/margin.styl';
@import 'components/chameleonui-utils/padding.styl';
@import 'components/chameleonui-utils/percentage.styl';
@import 'components/chameleonui-utils/px-rem.styl';
@import 'components/chameleonui-utils/roundto.styl';
@import 'components/chameleonui-utils/selectorize.styl';
@import 'components/chameleonui-utils/string-repeat.styl';
@import 'components/chameleonui-utils/text-overflow.styl';
@import 'components/chameleonui-utils/vendors.styl';
@import 'components/chameleonui-utils/visibility.styl';
@import 'components/chameleonui-utils/width.styl';
@import 'float.styl';
@import 'hr.styl';
@import 'html.styl';
@import 'image.styl';
@import 'link.styl';
@import 'visibility.styl';
@import 'core.styl';

// We can't use body-em() here due to stylus limits :(
grid-lap-start = 40em; 
grid-desk-start = 55em;

grid-hand-class = "hand";
grid-lap-class = "lap";
grid-desk-class = "desk";

grid-hand-up-media = "only screen";
grid-lap-up-media = "only screen and (min-width: " + grid-lap-start + ")";
grid-desk-up-media = "only screen and (min-width: " + grid-desk-start + ")";

core();


