
@import 'components/chameleonui-utils/stylus/body-em';
@import 'components/chameleonui-utils/stylus/body-line-height';
@import 'components/chameleonui-utils/stylus/clearfix';
@import 'components/chameleonui-utils/stylus/font-size';
@import 'components/chameleonui-utils/stylus/gradients';
@import 'components/chameleonui-utils/stylus/height';
@import 'components/chameleonui-utils/stylus/margin';
@import 'components/chameleonui-utils/stylus/padding';
@import 'components/chameleonui-utils/stylus/percentage';
@import 'components/chameleonui-utils/stylus/px-rem';
@import 'components/chameleonui-utils/stylus/roundto';
@import 'components/chameleonui-utils/stylus/selectorize';
@import 'components/chameleonui-utils/stylus/string-repeat';
@import 'components/chameleonui-utils/stylus/text-overflow';
@import 'components/chameleonui-utils/stylus/vendors';
@import 'components/chameleonui-utils/stylus/visibility';
@import 'components/chameleonui-utils/stylus/width';

@import 'components/chameleonui-css3/stylus/box-sizing';

@import 'stylus/float';
@import 'stylus/hr';
@import 'stylus/html';
@import 'stylus/image';
@import 'stylus/link';
@import 'stylus/visibility';
@import 'stylus/core';

// We can't use body-em() here due to stylus limits :(
grid-lap-start = 40em;
grid-desk-start = 55em;

grid-hand-class = "hand";
grid-lap-class = "lap";
grid-desk-class = "desk";

grid-hand-up-media = "only screen";
grid-lap-up-media = "only screen and (min-width: " + grid-lap-start + ")";
grid-desk-up-media = "only screen and (min-width: " + grid-desk-start + ")";

core();
