// =============================================================================
// Float helpers
// =============================================================================


// Mixin
// =============================================================================
core-float(){
    .float-left,
    .float-right,
    .float-center {
        display: block;
    }

    .float-left {
        float: left;
    }

    .float-right {
        float: right;
    }

    .float-center {
        margin-left: auto;
        margin-right: auto;
    }
}