// =============================================================================
// Float helpers
// =============================================================================

// Mixin
// =============================================================================

core-float-factory(prefix = null){
    if (prefix is defined) {
        prefix = prefix + '-';
    }

    .{prefix}float-left {
        float: left;
    }

    .{prefix}float-right {
        float: right;
    }

    .{prefix}float-center {
        float: none !important;
        margin-left: auto;
        margin-right: auto;
    }
}
 
// =============================================================================

core-float(){
    core-float-factory();

    if (grid-hand-up-media is defined && grid-hand-class is defined) {
        @media grid-hand-up-media {
            core-float-factory(grid-hand-class);
        }
    }

    if (grid-lap-up-media is defined && grid-lap-class is defined && grid-lap-start is defined) {
        @media grid-lap-up-media {
            core-float-factory(grid-lap-class);
        }
    }

    if (grid-desk-up-media is defined && grid-desk-class is defined && grid-desk-start is defined) {
        @media grid-desk-up-media {
            core-float-factory(grid-desk-class);
        }
    }
}

