// =============================================================================
// Image basic style
// =============================================================================


// Mixin
// =============================================================================
core-image(){
    img {
        max-width: 100%;
    }
} 