// =============================================================================
// Basic Visibility-Modificators styles
// =============================================================================

//
// Styles
// =============================================================================
core-visibility(){
    // Hide visually and from screenreaders, but maintain layout
    .invisible {
        invisible();
    }
    
    // Hide from both screenreaders and browsers: http://h5bp.com/u
    .is-hidden,
    .hidden {
        hidden()
    }

    // Hide only visually, but have it available for screenreaders: http://h5bp.com/v
    .vhidden {
        vhidden();
    }
}